@import "./themes/tokyonight-moon.css";

* {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  min-height: 12px;
  color: @fg;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

tooltip {
  background: @bg;
  border: solid 1px @blue;
  border-radius: 12px;
}

#mpd,
#pulseaudio,
#power-profiles-daemon,
#network,
#workspaces,
#window,
#taskbar,
#tray,
#wireplumber,
#memory,
#cpu,
#bluetooth,
#custom-powermenu,
#custom-arch,
#clock {
  background: #000000;
  border: solid 0.6px @blue;
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 4px 0px 0px 0px;
}

#workspaces button.active {
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active label {
  color: @yellow;
  font-weight: bolder;
  font-size: 20px;
}

#workspaces button label {
  font-size: 18px;
  color: @blue;
}

#wireplumber {
  color: @blue;
}

#pulseaudio {
  color: @cyan;
}

#network {
  color: @green;
}

#clock {
  color: @blue;
}

#custom-powermenu {
  color: @red;
  font-size: 18px;
  padding: 0 4px 0 0;
  margin-right: 12px;
}

#custom-arch {
  color: @blue;
  font-size: 20px;
  padding: 0 4px 0 0;
}

#temperature {
  color: @green;
}

#memory {
  color: @magenta;
}

#cpu {
  color: @orange;
}

#bluetooth {
  color: @blue;
}

#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  background: #000000;
  font-weight: bold;
  margin: 5px 0px;
}

#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  background: #000000;
  margin: 4px 0px 0px 0px;
  font-size: 24px;
}
#custom-playerctl.backward:hover,
#custom-playerctl.play:hover,
#custom-playerctl.foward:hover {
  color: @orange;
}
#custom-playerctl.backward {
  color: @magenta;
  border-radius: 12px 0px 0px 12px;
  border-top: solid 0.6px @blue;
  border-bottom: solid 0.6px @blue;
  border-left: solid 0.6px @blue;
  padding-left: 8px;
}
#custom-playerctl.play {
  color: @blue;
  border: solid 0.6px @blue;
  border-top: solid 0.6px @blue;
  border-bottom: solid 0.6px @blue;
  border-right: none;
  border-left: none;
}
#custom-playerctl.foward {
  color: @magenta;
  border-radius: 0px;
  border-top: solid 0.6px @blue;
  border-bottom: solid 0.6px @blue;
  border-right: none;
}
#custom-playerlabel {
  background: #000000;
  color: @blue;
  padding: 0 16px;
  margin: 4px 0px 0px 0px;
  border-radius: 0px 12px 12px 0px;
  border-top: solid 0.6px @blue;
  border-bottom: solid 0.6px @blue;
  border-left: none;
  font-weight: bold;
}
