@import "./themes/tokyonight-moon.css";

* {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  min-height: 12px;
  color: @fg;
  margin-bottom: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg;
  border: solid 0.8px @blue;
  border-radius: 16px;
  padding: 12px;
}

/************************************************/
/***************** [ Left ] ******************/
/***********************************************/
#custom-arch {
  color: @blue;
  font-size: 20px;
  background: #000;
  margin: 2px 0 2px 8px;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 16px 0px 0px 16px;

  padding: 0px 8px 0px 8px;
}

#taskbar {
  background: #000;
  margin: 2px 0 2px 0;
  border: solid 0.8px @blue;
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

#workspaces {
  background: #000;
  background: #000;
  margin: 2px 0 2px 0;
  border: solid 0.8px @blue;
  border-radius: 0px 16px 16px 0px;

  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active {
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active label {
  color: @yellow;
  font-weight: bolder;
  font-size: 22px;
}

#workspaces button label {
  font-size: 20px;
  color: @blue;
}

/***********************************************/
/***************** [ Center ] ******************/
/***********************************************/
#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  font-weight: bold;
  font-size: 26px;
}

#pulseaudio.output {
  color: @cyan;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0;
  border-right: none;
}

#pulseaudio.input {
  color: @purple;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 16px 16px 0px;
  border-left: none;
}

#custom-playerctl.backward:hover,
#custom-playerctl.play:hover,
#custom-playerctl.foward:hover {
  color: @orange;
}
#custom-playerctl.backward {
  color: @magenta;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 16px 0px 0px 16px;
  border-right: none;

  padding: 0px 0px 0px 12px;
}
#custom-playerctl.play {
  color: @blue;
  background: #000;
  margin: 2px 0;
  border: solid 0.8px @blue;
  border-radius: 0px;
  border-right: none;
  border-left: none;
}
#custom-playerctl.foward {
  color: @magenta;
  background: #000;
  margin: 2px 0 2px 0;
  border: solid 0.8px @blue;
  border-radius: 0px;
  border-left: none;
  border-right: none;

  padding: 0px 4px 0px 0px;
}
#custom-playerlabel {
  color: @blue;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0;
  border-right: none;

  padding-right: 2px;
}

/***********************************************/
/***************** [ Right ] *******************/
/***********************************************/
#memory {
  color: @blue;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
}

#temperature {
  color: @orange;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
}

#cpu {
  color: @magenta;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
}

#tray {
  color: @blue;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 16px 0px 0px 16px;
  border-right: none;

  padding: 0px 8px 0px 10px;
}

#bluetooth {
  color: @blue;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
}

#network {
  color: @green;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
}

#clock {
  color: @cyan;
  background: #000;
  margin: 2px 0 2px 0;
  padding-left: 8px;
  border: solid 0.8px @blue;
  border-radius: 0px 0px 0px 0px;
  border-right: none;

  padding: 0px 8px 0px 8px;
  font-weight: bold;
}

#custom-powermenu {
  color: @red;
  font-size: 18px;
  background: #000;
  margin: 2px 12px 2px 0;
  border: solid 0.8px @blue;
  border-radius: 0px 16px 16px 0px;

  padding: 0px 12px 0px 4px;
}
