/* Custom  */

/* Remove Right top icons */
/* .tabs-and-actions-container .editor-actions { */
/*   display: none !important; */
/* } */

.explorer-viewlet {
  font-size: 0.8rem;
}

.monaco-workbench .part > .content .folder-icon {
  font-size: 0.9rem !important;
  font-weight: bold;
  color: #6272a4;
}

.monaco-workbench .part > .content .file-icon {
  font-size: 0.9rem !important;
  font-weight: normal;
}

.monaco-editor .cursor {
  background: linear-gradient(to bottom right, #00ffff, #fff);
  box-shadow: 0 0 2px #ff79c6;
  border-color: #bd93f9;
  color: #000000;
}
