@import "../themes/tokyonight-night.css";

* {
  font-family: "Symbols Nerd Font";
  font-weight: 600;
  font-size: 16px;
  color: @fg;
}

window#waybar {
  background: transparent;
}

window > box {
  padding: 4px 8px;
  background: @bg_blur;
  margin: 4px 8px;
  border-radius: 16px;
  box-shadow:
    0 2px 2px rgba(0,0,0,0.9),
    inset 0 -2px 0 0 @bg_blur;
}

tooltip {
  border: solid 0.8px @blue;
  border-radius: 16px;
}

#custom-arch,
#workspaces,
#taskbar,
#pulseaudio.input,
#pulseaudio.output,
#bluetooth,
#network,
#clock,
#cpu,
#battery,
#memory,
#temperature,
#custom-playerlabel,
#tray,
#custom-powermenu {
  padding: 0px 4px;
}

/***********************************************/
/***************** [ Left ] ********************/
/***********************************************/
#custom-arch {
  color: @blue;
  padding: 0 16px;
  font-size: 20px;
}

#workspaces {
  font-weight: bold;
}

#workspaces button.empty label {
  color: @comment;
}

#workspaces button.active {
  transition: all 1s ease-in-out;
}

#workspaces button.active label {
  color: @yellow;
  font-size: 22px;
}

#workspaces button label {
  color: @blue;
  font-size: 20px;
  font-weight: bold;
}

/***********************************************/
/**************** [ Media Player ] *************/
/***********************************************/
#custom-playerctl.play,
#custom-playerctl.foward,
#custom-playerctl.backward,
#custom-playerlabel {
  font-weight: bold;
  font-family: "Hack Nerd Font";
}

#custom-playerlabel {
  font-family: "Victor Mono";
  font-size: 18px;
}

#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  color: @blue;
  padding: 0px 8px;
  font-weight: bold;
  font-size: 26px;
}

#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward,
#custom-playerlabel{
  border-right: none;
  border-left: none;
}

#custom-playerctl.backward:hover,
#custom-playerctl.play:hover,
#custom-playerctl.foward:hover {
  color: @orange;
}
#custom-playerctl.foward,
#custom-playerctl.backward {
  color: @magenta;
}


#custom-playerctl.foward {
  padding: 0 12px 0 8px;
}

#custom-playerlabel {
  color: @blue;
}

#pulseaudio.output {
  color: @cyan;
}

#pulseaudio.input {
  color: @magenta;
}

#pulseaudio.input,
#pulseaudio.output {
  margin: 0px;
  padding-left: 4px;
}

/***********************************************/
/***************** [ Right ] *******************/
/***********************************************/
#bluetooth,
#network {
  font-size: 18px;
}


#cpu {
  color: @green1;
  margin-right: 0;
  padding-right: 8px;
  border-radius: 0;
}

#memory {
  color: @orange;
  border-left: none;
}

#battery {
  color: @fg;
}

#bluetooth {
  color: @blue;
}

#network {
  color: @green;
  margin: 0;
}

#custom-powermenu {
  color: @red;
  font-size: 18px;
  padding: 0 16px;
}

#clock {
  color: @bg_dark1;
  background: @blue;
  border-radius: 32px;
  padding: 0 12px 0 8px;
  border: solid 1px @cyan;
}

#pulseaudio.output {
  background: @bg_highlight2;
  border: solid 0.5px @blue;
  border-radius: 16px 0 0px 16px;
  border-right: 1px;
  padding: 0 8px;
  /* box-shadow: */
  /*   0 8px 24px rgba(0,0,0,.45), */
  /*   inset 0   1px 0 0 @line, */
  /*   inset 0  -1px 0 0 @line, */
  /*   inset -1px 0 0 0 @line; */
}

#pulseaudio.input {
  background: @bg_highlight2;
  border: solid 0.5px @blue;
  border-radius: 0 16px 16px 0;
  padding: 0 8px;
  /* box-shadow: */
  /*   0 8px 24px rgba(0,0,0,.45), */
  /*   inset 0   1px 0 0 @line, */
  /*   inset 0  -1px 0 0 @line, */
  /*   inset -1px 0 0 0 @line; */
}


#workspaces {
  border-radius: 32px;
  background: @bg_highlight2;
  padding: 0 8px;
  border: solid 2px @blue;
}

#taskbar {
  font-size: 48px;
  font-family: 'Ubuntu';
}

#battery {
  padding: 0 8px;
  margin: 0 8px;
}

#network {
  padding: 0 8px;
}

#bluetooth {
  padding: 0; 
  margin: 0 2px;
}

#tray {
  padding: 0 12px;
}

#memory,
#cpu {
  font-weight: bold;
  font-size: 14px;
}

#taskbar {
  margin: 0 12px;
}

#taskbar button.active,
#taskbar button.urgent {
  box-shadow: inset 0 0 0 16px @blue;
  border-radius: 8px;
  padding: 0 10px;
}

#taskbar button.urgent { 
  box-shadow: inset 0 0 0 16px @red;
}

#cava {
  margin: 80px;
}
