* {
  transition: 0.1s;
}

window {
  font-family: "Cascadia Code";
  font-size: 20px;
}

window {
  margin: 0px;
  border: 2px solid #82aaff;
  background-color: #161925;
  border-radius: 16px;
}

#input {
  padding: 4px;
  margin: 20px;
  padding-left: 20px;
  border: none;
  color: #fff;
  background: #222436;
  outline: none;
  border-radius: 16px;
}

#input image {
  color: #fff;
}

#input:focus {
  border: none;
  outline: none;
}

#inner-box {
  margin: 20px;
  margin-top: 0px;
  border: none;
  color: #000;
  border-radius: 16px;
}

#inner-box * {
  transition: none;
}

#outer-box {
  margin: 0px;
  border: none;
  padding: 0px;
  border-radius: 16px;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 16px;
  margin-bottom: 5px;
}

#text:selected {
  color: #fff;
  font-style: italic;
}

#img {
  margin-right: 20px;
  background: transparent;
}

#text {
  margin: 0px;
  border: none;
  padding: 0px;
  background: transparent;
}

#entry {
  margin: 0px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  min-height: 32px;
  font-weight: bold;
}

#entry:selected {
  outline: none;
  margin: 0px;
  border: none;
  border-radius: 16px;
  background: #2f334d;
}
